<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css">
    <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title>Document</title>
</head>


<body>
    <div id="js-scroll" data-scroll-container>
        <header class="header" data-scroll-section>
            <div class="header-video-back">
                <video autoplay muted preload src="./img/videos/rios-header-back.mp4"></video>
            </div>
            <div class="header-inner">
                <div class="header-inner-wrapper">
                    <div class="site-menu">
                        <a href="/" class="header-logo">
                            <img src="./img/header-logo.png" alt="">
                        </a>
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a href="#">Procсess</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Results</a>
                                </li>
                                <li>
                                    <a href="#">Cases</a>
                                </li>
                                <li>
                                    <a href="#">Feedbacks</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-callback">
                            <a href="#" class="number">(650) 800-7183</a>
                            <a class="btn-blue callback-btn" href="#">Leave a request</a>
                        </div>
                    </div>
                    <div class="header-info">
                        <div class="title-block element-animation">
                            <div class="title">
                                <span>
                                    Smart Factory
                                </span>
                                    of Tomorrow
                            </div>
                            <div class="title">Delivered Today</div>
                        </div>
                        <div class="desc element-animation">
                            <p>
                                We are helping enterprises automate their entire factories, warehouses or supply chain operations by deploying AI-powered end-to-end robotic workcells
                            </p>
                        </div>
                        <a class="btn-blue element-animation" href="#">Review Your Use Case</a>
                    </div>
                    <div class="advantages element-animation">
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="./img/icons/advatges-ico.svg" alt="">
                            </div>
                            <div class="title">Low and predictable OpEx</div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="./img/icons/advatges-ico.svg" alt="">
                            </div>
                            <div class="title">Easy to start, easy to scale</div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="./img/icons/advatges-ico.svg" alt="">
                            </div>
                            <div class="title">Remove Risk: Pay for performance</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="how-we-work" data-scroll-section>
            <div class="container">
                <div class="col-6 col-m-12 element-animation">
                    <div class="info">
                        <div class="title">How do we do that</div>
                        <div class="desc">
                            <p>
                                We are automating old-line industries and architecting "lights-out" factories, powered by robotics and AI. We pioneered the robots-as-a-service (RaaS) business model for robotic workcells, and through a factory automation-as-a-service agreement, RIOS provides world-class automation packaged with an all-inclusive service at zero upfront capital costs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-m-12 element-animation">
                    <div class="video-wrapper">
                        <div class="play-vid"></div>
                        <video src="" style="background-image: url(./img/header-back.png)"></video>
                    </div>
                    <div class="modal-video-start js-modal-video-start" style="display: none;">
                        <span class="modal-video-close">x</span>
                        <div class="modal-video-wrapper">
                            <iframe src="" type="text/html" width="400" height="300" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="industries" data-scroll-section>
            <div class="container element-animation">
                <div class="title"><span>Industries</span>We Serve</div>
                <div class="industries-items">
                    <a href="#" class="item">Food & Beverage</a>
                    <a href="#" class="item">Warehousing</a>
                    <a href="#" class="item">Packaging</a>
                    <a href="#" class="item">Distribution</a>
                    <a href="#" class="item">Retail</a>
                    <a href="#" class="item">Manufacturing</a>
                    <a href="#" class="item">Consumer Goods</a>
                </div>
            </div>
        </section>




        <section class="why-we" data-scroll-section >
            <div class="container">
                <div class="title element-animation">Why do you need to <span>work with us</span></div>
                <ul class="items-wrapper element-animation">
                    <li class="">
                        <div class="num"></div>
                        <div class="title">Day One Value</div>
                        <div class="desc">
                            <p>
                                Our workcells are powered by AI and dedicated hardware to deliver value out of the box. The robotic workcells are easy to use and integrate within existing workflows
                            </p>
                        </div>
                    </li>
                    <li class="">
                        <div class="num"></div>
                        <div class="title">Day One Value</div>
                        <div class="desc">
                            <p>
                                Our workcells are powered by AI and dedicated hardware to deliver value out of the box. The robotic workcells are easy to use and integrate within existing workflows
                            </p>
                        </div>
                    </li>
                    <li class="">
                        <div class="num"></div>
                        <div class="title">Day One Value</div>
                        <div class="desc">
                            <p>
                                Our workcells are powered by AI and dedicated hardware to deliver value out of the box. The robotic workcells are easy to use and integrate within existing workflows
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="callback-form" data-scroll-section data-scroll-delay="0.03">
            <div class="container">
                <div class="col-6 col-m-12 element-animation">
                    <div class="form-content">
                        <div class="title">Get Started Automating with RIOS</div>
                        <div class="desc">
                            <p>
                                Contact the experienced robotics automation team at RIOS to begin. Learn how to:
                            </p>
                        </div>
                        <ul>
                            <li>Reduce operations expense by up to 70%.</li>
                            <li>Lessen your dependency on labor.</li>
                            <li>Bolster facility throughput by 25% to 50% with automation.</li>
                            <li>Get a customized ROI analysis of your specific environment and business</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-m-12 element-animation">
                    <div class="form-wrapper">
                        <script>
                            hbspt.forms.create({
                                region: "na1",
                                portalId: "8048869",
                                formId: "32b19e17-941f-4140-b4f9-556a09866d8c"
                            });
                        </script>
                    </div>
<!--                    <form action="/">-->
<!--                        <input type="text" placeholder="Your name">-->
<!--                        <input type="text" placeholder="Phone number">-->
<!--                        <input type="text" placeholder="Email">-->
<!--                        <textarea name="" id="" cols="30" rows="10" placeholder="Text your details"></textarea>-->
<!--                        <label>-->
<!--                            <input class="checkbox" type="checkbox">-->
<!--                            <span class="desc">-->
<!--                            By signing up, you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a>-->
<!--                        </span>-->
<!--                        </label>-->
<!--                        <input type="submit" value="Let`s connect" class="btn-blue btn-send">-->
<!--                    </form>-->
                </div>
            </div>
        </section>


        <section class="rios-info-block" data-scroll-section data-scroll-delay="0">
            <div class="container">
                <div class="col-6 col-m-12 element-animation">
                    <div class="title"><span>Quick Deploying,</span>Max Uptime Solution</div>
                </div>
                <div class="col-6 col-m-12 element-animation">
                    <ul>
                        <li>No CapEx fees at any time with contract </li>
                        <li>Billed at hourly rate per FTE</li>
                        <li>RIOS RaaS includes installation, acceptance testing, ongoing support, and preventative maintenance</li>
                        <li>Deployment in a month or less</li>
                    </ul>
                </div>
                <div class="col-12 element-animation">
                    <div class="info">
                        <div class="title">Real-World Customer Results</div>
                        <div class="desc">
                            <p>
                                Intelligent Enterprise Robotic solutions from Rios are proven to improve operational efficiency, picking speed and sorting productivity in warehouses and distribution centers.
                            </p>
                        </div>
                        <a class="btn-blue btn-connect" href="#">Let`s connect</a>
                    </div>
                </div>
                <div class="col-12 element-animation">
                    <div class="stats" id="stats">
                        <div class="col-3 col-m-12">
                            <div class="item">
                                <div class="name">Faster</div>
                                <div class="num"><span id="number">0</span>%</div>
                                <p>Up to 90% Reduction in Truck Unload Time</p>
                            </div>
                        </div>
                        <div class="col-3 col-m-12">
                            <div class="item">
                                <div class="name">Higher Throughput</div>
                                <div class="num"><span id="number1">0</span>x</div>
                                <p>Up to 3X Increased Capacity</p>
                            </div>
                        </div>
                        <div class="col-3 col-m-12">
                            <div class="item">
                                <div class="name">Lower Costs</div>
                                <div class="num"><span id="number2">0</span>%</div>
                                <p>Up to 70% Reduction in Overhead Costs</p>
                            </div>
                        </div>
                        <div class="col-3 col-m-12">
                            <div class="item">
                                <div class="name">Less Space</div>
                                <div class="num"><span id="number3">0</span>%</div>
                                <p>Up to 35% Smaller Footprint</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="rios-banner" id="rios-banner" data-scroll-section-id="section3" data-scroll-section-inview data-scroll-section>
            <div class="container-fluid scroll-direction">
                <div class="title title-top is-inview" data-scroll="" data-scroll-direction="horizontal"
                     data-scroll-speed="-6" data-scroll-target="#rios-banner"><span>RIOS</span>workcells</div>
                <div class="title title-bottom is-inview" data-scroll="" data-scroll-direction="horizontal"
                     data-scroll-speed="6" data-scroll-target="#rios-banner">deliver<span>results</span></div>
            </div>
        </section>


        <section class="companies-catalog" data-scroll-section>
            <div class="container">
                <div class="items-wrapper">
                    <div class="item element-animation">
                        <div class="col-6 col-m-12">
                            <div class="info">
                                <div class="title">Hit Promotional Products</div>
                                <div class="desc">
                                    <p>
                                        Hit wanted to implement “lights out” robotic solutions to manufacture and package their brand products. Facing both rapid growth and marketplace disruption, Hit wanted to increase productivity and reduce its operational costs.
                                    </p>
                                </div>
                                <ul>
                                    <li>Deployed robotic workcells</li>
                                    <li>Deployed its HERMES fleet within 60 days</li>
                                    <li>Packaged over 200,000 products in the first 2 months</li>
                                    <li>Deployed its ASTRIA fleet</li>
                                </ul>
                                <div class="subtitle">Results</div>
                                <ul>
                                    <li>HERMES and ASTRIA fleets rolled out</li>
                                    <li>60% Savings on Production Costs</li>
                                    <li>Hit continue working with RIOS to deploy a new batch of 100s of robotic workcells</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-m-12 ">
                            <div class="video-block">
                                <div class="video-wrapper">
                                    <video src="" style="background-image: url(./img/header-back.png)"></video>
                                </div>
                                <a href="#" data-src="modal-video"  class="open-modal-dialog play-vid-btn">Watch a video</a>
                            </div>
                        </div>
                    </div>
                    <div class="item element-animation">
                        <div class="col-6 col-m-12">
                            <div class="info">
                                <div class="title">Hit Promotional Products</div>
                                <div class="desc">
                                    <p>
                                        Hit wanted to implement “lights out” robotic solutions to manufacture and package their brand products. Facing both rapid growth and marketplace disruption, Hit wanted to increase productivity and reduce its operational costs.
                                    </p>
                                </div>
                                <ul>
                                    <li>Deployed robotic workcells</li>
                                    <li>Deployed its HERMES fleet within 60 days</li>
                                    <li>Packaged over 200,000 products in the first 2 months</li>
                                    <li>Deployed its ASTRIA fleet</li>
                                </ul>
                                <div class="subtitle">Results</div>
                                <ul>
                                    <li>HERMES and ASTRIA fleets rolled out</li>
                                    <li>60% Savings on Production Costs</li>
                                    <li>Hit continue working with RIOS to deploy a new batch of 100s of robotic workcells</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-m-12 ">
                            <div class="video-block">
                                <div class="video-wrapper">
                                    <video src="" style="background-image: url(./img/header-back.png)"></video>
                                </div>
                                <a href="#" data-src="modal-video1" class="play-vid-btn open-modal-dialog">Watch a video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="partners" data-scroll-section>
            <div class="container element-animation">
                <div class="title"><span>Featured</span>in</div>
                <div class="partners-items">
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                    <div class="item">
                        <img src="img/techcrunch.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="about" data-scroll-section>
            <div class="container">
                <div class="col-6 col-m-12 element-animation">
                    <div class="info">
                        <div class="title"><span>About</span>RIOS</div>
                        <div class="desc">
                            <p>
                                We are automating old-line industries and architecting "lights-out" factories, powered by robotics and AI. We pioneered the robots-as-a-service (RaaS) business model for robotic workcells, and through a factory automation-as-a-service agreement
                            </p>
                        </div>
                        <div class="stats-info-wrapper">
                            <div class="stats-info">
                                <div class="item">
                                    <span>4</span>
                                    years experience
                                </div>
                            </div>
                            <div class="stats-info">
                                <div class="item">
                                    <span>TOP 5</span>
                                    warehouse management robots
                                </div>
                            </div>
                            <div class="stats-info">
                                <div class="item">
                                    <span>41</span>
                                    team members
                                </div>
                            </div>
                            <div class="stats-info">
                                <div class="item">
                                    <span>7</span>
                                    industries
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-m-12 element-animation">
                    <div class="img-wrapper">
                        <img src="img/header-back.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews-slider" data-scroll-section>
            <div class="container">
                <div class="swiper-pagination"></div>
                <div class="swiper swiper-reviews-slider">
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                    <div class="title element-animation"><span>Featured</span>in</div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide element-animation">
                            <div class="review">
                                <p>
                                    We were very impressed by RIOS. Their team proved they could understand our challenges, our business, quickly assess our use cases, and roll out robots in mind-boggling timeframes to meet our aggressive goals, while delivering the seamless, integrated experiences customers have come to expect.
                                </p>
                            </div>
                            <div class="author">Jake Gaines, VP of Manufacturing</div>
                            <div class="company">Hit Promotional Products, Inc.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review">
                                <p>
                                    We were very impressed by RIOS. Their team proved they could understand our challenges, our business, quickly assess our use cases, and roll out robots in mind-boggling timeframes to meet our aggressive goals, while delivering the seamless, integrated experiences customers have come to expect.
                                </p>
                            </div>
                            <div class="author">Jake Gaines, VP of Manufacturing</div>
                            <div class="company">Hit Promotional Products, Inc.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review">
                                <p>
                                    We were very impressed by RIOS. Their team proved they could understand our challenges, our business, quickly assess our use cases, and roll out robots in mind-boggling timeframes to meet our aggressive goals, while delivering the seamless, integrated experiences customers have come to expect.
                                </p>
                            </div>
                            <div class="author">Jake Gaines, VP of Manufacturing</div>
                            <div class="company">Hit Promotional Products, Inc.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review">
                                <p>
                                    We were very impressed by RIOS. Their team proved they could understand our challenges, our business, quickly assess our use cases, and roll out robots in mind-boggling timeframes to meet our aggressive goals, while delivering the seamless, integrated experiences customers have come to expect.
                                </p>
                            </div>
                            <div class="author">Jake Gaines, VP of Manufacturing</div>
                            <div class="company">Hit Promotional Products, Inc.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review">
                                <p>
                                    We were very impressed by RIOS. Their team proved they could understand our challenges, our business, quickly assess our use cases, and roll out robots in mind-boggling timeframes to meet our aggressive goals, while delivering the seamless, integrated experiences customers have come to expect.
                                </p>
                            </div>
                            <div class="author">Jake Gaines, VP of Manufacturing</div>
                            <div class="company">Hit Promotional Products, Inc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="faq" data-scroll-section>
            <div class="container">
                <div id="accordion" class="accordion element-animation">
                    <div class="accordion-item show " data-id="1">
                        <div class="accordion-item-header">
                            What is RaaS?
                        </div>
                        <div class="accordion-item-content">
                            <p>
                                RIOS has signed agreements with over a dozen customers in the U.S. and Japan, from mis-size businesses to large enterprises. Our robotic workcells are currently deployed in the U.S. un the manufacturing, consumer packaged goods, and food & beverage sectors.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item " data-id="2">
                        <div class="accordion-item-header">
                            What is RaaS?
                        </div>
                        <div class="accordion-item-content">
                            <p>
                                RIOS has signed agreements with over a dozen customers in the U.S. and Japan, from mis-size businesses to large enterprises. Our robotic workcells are currently deployed in the U.S. un the manufacturing, consumer packaged goods, and food & beverage sectors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer" data-scroll-section>
            <div class="container">
                <div class="footer-wrapper">
                    <div class="col-7 col-m-12">
                        <div class="footer-left">
                            <div class="footer-top">
                                <div class="title">Leave a request</div>
                                <div class="footer-connect">
                                    <div class="phone">
                                        <a href="tel:(650) 800-7183">(650) 800-7183</a>
                                    </div>
                                    <div class="msg">
                                        <a href="mailto:info@rios.ai">info@rios.ai</a>
                                    </div>
                                </div>
                                <div class="footer-social-block">
                                    <a class="social-link" href="#" style="background-image: url(./img/icons/LinkedIN.svg)"></a>
                                    <a class="social-link" href="#" style="background-image: url(./img/icons/Instagram.svg)"></a>
                                    <a class="social-link" href="#" style="background-image: url(./img/icons/Twitter.svg)"></a>
                                    <a class="social-link" href="#" style="background-image: url(./img/icons/Youtube.svg)"></a>
                                </div>
                            </div>
                            <div class="footer-copyright">
                                <div class="copy">© 2022 by RIOS Intelligent Machines, Inc.</div>
                                <div class="copy-links">
                                    <a href="#">Terms of service</a>
                                    <a href="#">Privacy policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-m-12">
                        <div class="footer-form callback-form">
                            <script>
                                hbspt.forms.create({
                                    region: "na1",
                                    portalId: "8048869",
                                    formId: "32b19e17-941f-4140-b4f9-556a09866d8c"
                                });
                            </script>
                            <div id="na1"></div>
<!--                            <form action="/">-->
<!--                                <input type="text" placeholder="Your name">-->
<!--                                <input type="text" placeholder="Phone number">-->
<!--                                <input type="text" placeholder="Email">-->
<!--                                <textarea name="" cols="30" rows="10" placeholder="Text your details"></textarea>-->
<!--                                <label>-->
<!--                                    <input class="checkbox" type="checkbox">-->
<!--                                    <span class="desc">-->
<!--                            By signing up, you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a>-->
<!--                        </span>-->
<!--                                </label>-->
<!--                                <input type="submit" value="Let`s connect" class="btn-blue btn-send">-->
<!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal-dialog modal-dialog-centered modal-video" style="display: none;">
        <div class="modal-content">
            <div class="modal-body container-fluid">
                <button type="button" class="modal-close d-none d-xl-inline-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="video-wrapper">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-CHlDZXnzPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered modal-video1" style="display: none;">
        <div class="modal-content">
            <div class="modal-body container-fluid">
                <button type="button" class="modal-close d-none d-xl-inline-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="video-wrapper">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fAoojmxK_T8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/bundle.js"></script>
    <span class="c-scrollbar">
        <span class="c-scrollbar_thumb"></span>
    </span>
</body>
</html>